@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <hr />
    <email recipient="RexK" email-type="ShowEmail" />
    <email recipient="ChuckJ" email-type="ShowMailTo" />
    <hr />
    <vc:my-button title="My Button" type="Success"></vc:my-button>
</div>
